packages:
  yum:
    python3-devel: []
    mariadb-connector-c.x86_64 : []
    mariadb-connector-c-test.x86_64 : []
    mariadb105-connect-engine.x86_64 : [] 
    mariadb105-devel.x86_64 : []
    mariadb105-oqgraph-engine.x86_64 : [] 
    mariadb105-pam.x86_64 : []
    mariadb105-rocksdb-engine.x86_64 : [] 
    mariadb105-server.x86_64 : []
    mariadb105-server-utils.x86_64 : []
    mariadb105-sphinx-engine.x86_64 : [] 
    mariadb105-test.x86_64 : []
    perl-DBD-MariaDB.x86_64 : []
    perl-DBD-MariaDB-tests.x86_64 : []