<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Innotech Precision Medicine</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="login-container">
        <div class="logo">
            <img src="IPM_logo.png" alt="Innotech Precision Medicine Logo">
        </div>
        <form class="login-form" action="login" method="POST">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="input-group">
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <button type="submit" class="login-btn">SIGN IN</button>
            <a href=" #" class="forgot-password">Forgot my password</a>
        </form>
        <p>Don't have an account? <a href="reg.html">Register here</a>.</p>
        <script src="script.js"></script>
    </div>
</body>

</html>