<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header>Innotech Precision Medicine</header>
        <form id="resetPasswordForm" method="POST" onsubmit="return validateResetPasswordForm()">
            <h2>RESET PASSWORD</h2>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control"
                    required>
            </div>
            <button type="submit">RESET PASSWORD</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>